* {
  font-weight: 500 !important;
}

.vertical-center {
  min-height: 86%;
  min-height: 86vh;

  display: flex;
  align-items: center;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

.link a {
  text-decoration: none;
}

.profile-pic {
  max-height: 22rem;
}

.counter_add:hover {
  color: #0064c9;
}

.counter_remove:hover {
  color: #ff0000;
}

.custom-border {
  border-style: solid;
  border-width: 1px;
  border-color: lightsteelblue;
}

// User Registration Form
.divider-text {
  position: relative;
}
.divider-text span {
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.fa-icon {
  min-width: 1rem;
}

.btn-main {
  background-color: $main;
  color: white
}

.btn-main:hover {
  background-color: darken($main, $hoverShade);
  color: white;
}

.btn-facebook {
  background-color: $facebook;
  color: white;
}

.btn-facebook:hover {
  background-color: darken($facebook, $hoverShade);
  color: white;
}

.btn-twitter {
  background-color: $twitter;
  color: white;
}

.btn-twitter:hover {
  background-color: darken($twitter, $hoverShade);
  color: white;
}
// User Registration Form

// DropDown
.dropdown-text:hover {
  background-color: $hover;
  color: $main;
}
