// Fonts
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

// Colors
$main: #2980b9;
$main-dark: #feca57;
$facebook: #405d9d;
$twitter: #00acee;
$success-dark: #8cfac7;
$hover: #ecf0f1;
$hover-dark: #cecece1f;

$theme-colors: ();
$theme-colors: map-merge(
    (
        "main": $main,
        "main-dark": $main-dark,
        "success-dark": $success-dark,
        "facebook": $facebook,
        "twitter": $twitter,
    ),
    $theme-colors
);
// $off-white: #a5afd7;
// $dark-blue: #333745;
// $blue: #3c4251;
// $light-blue: #464e5e;
// $purple: #8357c5;
// $off-black: #20222b;

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
    (
        6: (
            $spacer * 6,
        ),
        7: (
            $spacer * 18,
        ),
    ),
    $spacers
);
// $s-size: 1.2rem;
// $m-size: 1.6rem;
// $l-size: 3.2rem;
// $xl-size: 4.8rem;
// $desktop-breakpoint: 45rem;

// Others
$hoverShade: 8%;
